services:
  nginx:
    image: ghcr.io/fragolinux/magazzino-nginx:${MAGAZZINO_TAG:-latest}
    ports:
      - "8080:80"
    depends_on:
      - php

  php:
    image: ghcr.io/fragolinux/magazzino-php:${MAGAZZINO_TAG:-latest}
    environment:
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    volumes:
      - ./overrides/db_connect.php:/var/www/html/includes/db_connect.php:ro
    depends_on:
      - db

  db:
    image: mariadb:10.4
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    volumes:
      - ./data/db:/var/lib/mysql
      - ./magazzino_db.sql:/docker-entrypoint-initdb.d/01-magazzino_db.sql:ro
