<?php
// Configurazione database
require_once __DIR__ . '/base_path.php';
return [
    'host' => 'localhost',
    'db' => 'magazzino_db',
    'user' => 'root',
    'pass' => '',
    'charset' => 'utf8mb4',
    'port' => 3306
];
